body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#floor-plan {
    margin-top: 30px;
}

.desk {
    fill: #888;
    cursor: pointer;
}

.desk.reserved {
    fill: #444;
}

.status-circle {
    fill: green;
}

.status-circle.reserved {
    fill: red;
}